.billboard {
  width: 100vw;
  height: 80vh !important;
  overflow: hidden;
}

.billboard h1 {
  color: var(--white) !important;
}

.rounded-pill-left {
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}
.rounded-pill-right,
div.selectize-input {
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
}

.billboard button,
.billboard input {
  background-color: var(--white);
}

.billboard button i {
  color: var(--purple-1);
}

.carousel {
  filter: brightness(70%);
}

.carousel,
.carousel-item,
.carousel img {
  min-height: 80vh !important;
  max-height: 80vh !important;
  min-width: 100vw !important;
  max-width: 100vw !important;
}
.carousel img {
  object-fit: cover;
  object-position: center;
}
.carousel a {
  color: var(--white) !important;
  text-decoration: none !important;
}

.top_location_cards {
  height: 260px;
}

.top_location.card {
  padding: 20px;
  min-width: 500px;
  max-height: 240px;
}

.top_location.card:hover {
  cursor: pointer;
  scale: 105%;
}

.top_location.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-title {
  color: var(--white);
  text-transform: capitalize;
  font-size: 30px !important;
}

.search_result img {
  border-radius: 50%;
}

.carousel-anchor {
  font-family: "regular" !important;
  color: var(--white) !important;
  font-size: 20px !important;
  text-decoration: none !important;
  position: absolute;
  bottom: 0;
  right: 1.5rem;
}
