@font-face {
  font-family: "header";
  src: url("../shared/assets/fonts/header.TTF") format("truetype");
}

@font-face {
  font-family: "body";
  src: url("../shared/assets/fonts/body.TTF") format("truetype");
}

p,
span,
button,
h5,
input,
i,
b {
  font-family: "body";
}

h1,
h2,
h3,
h4 {
  font-family: "header";
}

:root {
  --theme-purple: #a082af;
  --theme-dark-purple: #876897;
  --theme-text-dark-purple: rgb(103, 99, 168);
  --theme-text-dark-purple-hover: rgb(82, 79, 139);
  --theme-invalid: #e5b7d1;
  --theme-dark-border: #818181;
  --theme-light-border: #cccccc;
  --theme-input-border: rgb(229, 229, 229);
  --theme-text-light-grey: rgb(127, 127, 127);
  --theme-text-lighter: rgb(204, 198, 198);
  --theme-link: #00c2b1;
  --theme-link-hover: rgb(1, 163, 150);
  --theme-pink: #c95998;
  --theme-dark-pink: #a03d75;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.text-purple {
  color: var(--theme-purple);
}

.text-pink {
  color: var(--theme-pink);
}

#btn-create {
  color: white;
  border: none;
  background: var(--theme-purple);
  border-radius: 10rem;
  padding: 5px 30px;
  transition: background 200ms;
  text-decoration: none;
  font-size: 20px;
}

#btn-create:hover {
  background: var(--theme-dark-purple);
}

.plan {
  border-radius: 20px;
  padding: 10px 15px;
  border: 3px solid var(--theme-purple);
  cursor: pointer;
}

.plan-container {
  padding: 20px;
  height: 100%;
}

.text-gray {
  color: gray;
}

.text-light-gray {
  color: #ccc6c6;
}

.btn-view {
  color: white;
  border: none;
  background: var(--theme-link);
  border-radius: 10rem;
  padding: 5px 20px;
  transition: background 200ms;
  text-decoration: none;
}

.btn-view:hover {
  background: var(--theme-link-hover);
}

html {
  overflow-x: visible !important;
  overflow: visible !important;
  overflow-y: visible !important;
}

::-webkit-sadcrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

.text-tiny {
  font-size: 0.75rem;
  color: #ccc6c6;
}

.colabs img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  object-fit: contain;
}

.colabs img:not(:first-child) {
  margin-left: -15px;
}

@media screen and (max-width: 576px) {
  #btn-create {
    display: block;
    width: fit-content;
    margin: 10px auto;
    padding: 5px 10px;
  }
}
