@font-face {
  font-family: "header";
  src: url("../../shared/assets/fonts/header.TTF") format("truetype");
}

@font-face {
  font-family: "body";
  src: url("../../shared/assets/fonts/body.TTF") format("truetype");
}

p,
span,
button,
h5,
input,
i,
b,
ul,
li {
  font-family: "body";
}

h1,
h2,
h3,
h4 {
  font-family: "header";
}

:root {
  --theme-purple: #a082af;
  --theme-dark-purple: #876897;
  --theme-text-dark-purple: rgb(103, 99, 168);
  --theme-text-dark-purple-hover: rgb(82, 79, 139);
  --theme-invalid: #e5b7d1;
  --theme-dark-border: #818181;
  --theme-light-border: #cccccc;
  --theme-input-border: rgb(229, 229, 229);
  --theme-text-light-grey: rgb(127, 127, 127);
  --theme-text-lighter: rgb(204, 198, 198);
  --theme-link: #00c2b1;
  --theme-link-hover: rgb(1, 163, 150);
  --theme-pink: #c95998;
  --theme-dark-pink: #a03d75;
}

.container-fluid {
  background: #f8f7f7;
}

.main-container {
  width: 70%;
  margin: 0 auto;
}

.post-cover {
  height: 60vh;
  position: relative;
  cursor: pointer;
}

.post-cover img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.post-cover h1 {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  font-size: 4rem;
}

.text-purple {
  color: #a082af;
}

.ck-editor__editable_inline {
  min-height: 40vh !important;
}

.btn-create {
  text-align: left;
}

#btn-create {
  background: var(--theme-pink);
  border: none;
  border-radius: 10rem;
  padding: 5px 20px;
  color: white;
  transition: background 200ms;
  font-size: 20px;
}

#btn-create:hover {
  background: var(--theme-dark-pink);
}

.form-item {
  position: relative;
}

#category-result {
  position: absolute;
  height: 200px;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  bottom: -195px;
  left: 2px;
  right: 2px;
  border: none;
  z-index: 10;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  padding-top: 10px;
  display: none;
}

#category-result .result {
  width: 100%;
}

#category-block input {
  z-index: 11;
  position: relative;
}

.search-result {
  width: 100%;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

.search-result:hover {
  background: lightgrey;
  cursor: pointer;
}
