.billboard {
  width: 100vw;
  height: 80vh !important;
  overflow: hidden;
}

.billboard h1 {
  color: var(--white) !important;
}

.rounded-pill-left {
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}
.rounded-pill-right {
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
}

.billboard button,
.billboard input {
  background-color: var(--white);
}

.billboard button i {
  color: var(--purple-1);
}

.carousel {
  filter: brightness(70%);
}

.carousel img {
  min-height: 80vh !important;
  max-height: 80vh !important;
  min-width: 100vw !important;
  max-width: 100vw !important;
  object-fit: cover;
  object-position: center;
}

.top_location_cards {
  height: 260px;
}

.top_location.card {
  padding: 20px;
  min-width: 500px;
  max-height: 240px;
}

.top_location.card:hover {
  cursor: pointer;
  scale: 105%;
}

.top_location.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-title {
  color: var(--white);
  text-transform: capitalize;
  font-size: 30px !important;
}
